<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346362804700-mgk0v1ubk868e0ankniihcv0qcsjod13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346362804700-mgk0v1ubk868e0ankniihcv0qcsjod13</string>
	<key>API_KEY</key>
	<string>AIzaSyDRXJLAbi0ca0qI5vnuoj68HmlKaZfKwv0</string>
	<key>GCM_SENDER_ID</key>
	<string>346362804700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rongxiao.shoppingapp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-7c7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-7c7b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346362804700:ios:53de30443aeafcb5</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingapp-7c7b9.firebaseio.com</string>
</dict>
</plist>